# ========================
# PostgreSQL
# ========================
POSTGRES_DB=escola
POSTGRES_USER=escola
POSTGRES_PASSWORD=

# ========================
# Backend (Django)
# ========================
DEBUG=1
SECRET_KEY=
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:5173

DB_NAME=escola
DB_USER=escola
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# ========================
# Frontend (React/Vite)
# ========================
VITE_API_URL=http://localhost:8000
